@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Manrope;
    background-color: #f8f8f9;
  }
  .sidebar-menu aside nav a {
    @apply flex p-3 pr-10 rounded-md;
  }
  .sidebar-menu aside nav a {
    @apply text-[#BCC1C9] text-base ml-4 font-bold;
  }
  .sidebar-menu aside nav a img {
    @apply mr-4;
  }
  .sidebar-menu aside nav a:hover {
    @apply bg-white text-[#0048B7];
  }
  .nuxt-link-active ._text {
    @apply text-[#0048B7];
  }
  .sidebar-menu aside nav .nuxt-link-active {
    @apply bg-white;
  }
  a {
    @apply text-[#0048B7];
  }
  h2 {
    @apply text-lg font-bold;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
  }
  .pagination [tabindex] {
    padding: 5px 10px;
    border: 1px solid #d1d5db;
  }
  .page-item a {
    padding: 5px 12px;
    border: 1px solid #d1d5db;
    align-items: center;
    color: #4b5563;
  }
  .page-item.active a {
    color: #0048b7;
    border: 1px solid #0048b7;
    background-color: #eef2ff;
  }
}


@layer components {
  .blue-button {
    @apply w-full flex items-center h-auto gap-3 justify-center  rounded-md border border-transparent bg-[#0048B7] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#4338CA] focus:outline-none focus:ring-2 focus:ring-[#4F46E5] focus:ring-offset-2 
  }
  ._public-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ._neo-button {
    
  }
}